Directories/Files Names:
  persons-names->
   |_  name-last-name.route.js
   |_  name-last-name.route.html
JS Variables and Functions Names:
  var variableNameBeatifull
  function functionNameBeatifull
CSS classes Names:
  button-style-orange

Software version

Ionic: 
Node: 

Struct Branchs:
Developer1
Developer2
DevelopMerges
Master
