Directories/Files Names:
  persons-names->
   |_  name-last-name.route.js
   |_  name-last-name.route.html
JS Variables and Functions Names:
  var variableNameBeatifull
  function functionNameBeatifull
CSS classes Names:
  button-style-orange

Software version

Ionic: 1.7
Node: 5.8.>=
git: 2.8
tortoisegit: 2.1

Struct Branchs:
Developer1
Developer2
DevelopMerges
Master
